@import url("/components/avatar/avatar.html");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.component-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.component-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.side-heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.side-heading-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.code-snippet {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.code-snippet-heading {
    text-align: center;
    padding-top: 15px;
}

@media only screen and (max-width:600px) {
    .code-snippet {
        display: none;
    }
}