/* inputs */

.inputs {
    display: flex;
    justify-content: center;
}

.input-box label {
    font-weight: bold;
}


/* textbox input */

.user-details .input-box input {
    width: 100%;
    height: 45px;
    background: #f1f1f1;
    padding: 15px;
    margin: 5px 0 22px 16px;
    border: none;
}

 ::placeholder {
    font-weight: bold;
    font-size: 1rem;
}


/* error validation */

.err-message {
    color: red;
    font-weight: bold;
    margin-top: -1rem;
}

#confirm-password {
    border: 2px solid red;
}

.radio-input label,
.checkbox-input label {
    font-size: 1.2rem;
    margin-right: 20px;
}

.checkbox-input {
    margin-bottom: 30px;
}

@media only screen and (max-width:600px) {
    .code-snippet {
        display: none;
    }
}