/* images */

.images {
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#res-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}

#res-image:hover {
    box-shadow: 8px 16px 32px #ff7416;
}

#round-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#round-image:hover {
    box-shadow: 8px 16px 32px #ff7416;
}

@media only screen and (max-width:600px) {
    #res-image {
        width: 80%;
    }
    .code-snippet {
        display: none;
    }
}