.btn-output {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 15px;
}


/* buttons */


/* contained buttons */

.contained-primary-button {
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.contained-secondary-button {
    background-color: brown;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.contained-info-button {
    background-color: crimson;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.contained-warning-button {
    background-color: rgb(212, 180, 37);
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
}


/* outlined buttons */

.outlined-primary-button {
    border: 1px solid blue;
    color: blue;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.outlined-secondary-button {
    border: 1px solid brown;
    color: brown;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.outlined-info-button {
    border: 1px solid crimson;
    color: crimson;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.outlined-warning-button {
    border: 1px solid #FBD428;
    color: #FBD428;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}


/* icon buttons */

.icon-button {
    all: unset;
}

.share-button,
.pause-button,
.attachment-button {
    background-color: blueviolet;
    color: white;
    padding: 1rem 1.8rem;
    border-radius: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* link button */

.btn-output a {
    text-decoration: none;
}

.primary-link-btn {
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-align: center;
    cursor: pointer;
}

.secondary-link-btn {
    background-color: brown;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-align: center;
    cursor: pointer;
}


/* float-button */

.twitter-button {
    cursor: pointer;
}

.twitter-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00acee;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.twitter-icon i,
.telegram-icon i,
.facebook-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
}

.telegram-button {
    cursor: pointer;
}

.telegram-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #229ED9;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.facebook-button {
    cursor: pointer;
}

.facebook-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #4267B2;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* media queries */

@media only screen and (max-width:600px) {
    .btn-output {
        margin-left: 50px;
    }
    code-snippet {
        display: none;
    }
}