* {
    --rating-color: #FFDF00;
}

.ratings {
    background-color: #f1f1f1;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
}

.simple-rating {
    color: var(--rating-color);
    font-size: 1.5rem;
}

.star-rating {
    cursor: pointer;
    color: var(--rating-color);
    font-size: 1.5rem;
}

.code-snippet {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.code-snippet-heading {
    text-align: center;
    padding-top: 15px;
}

@media only screen and (max-width:600px) {
    .ratings {
        width: 100%;
    }
    .code-snippet,
    .code-snippet-heading {
        display: none;
    }
}