/* badge on avatar*/

.badge-images {
    text-align: center;
    margin-top: 20px;
    padding: 5px 5px;
}

.avatar1-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar2-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.avatar3-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.avatar-badge {
    position: relative;
    text-align: center;
    display: inline;
}

.status-badge-online {
    background-color: darkgreen;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.status-badge-offline {
    background-color: red;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.status-badge-away {
    background-color: yellow;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 10px;
}


/* badge on icon */

.badge-icons {
    text-align: center;
    margin-top: 20px;
    padding: 5px 5px;
}

.icon-badge {
    position: relative;
    text-align: center;
    display: inline;
}

#mail-icon {
    width: 50px;
    height: 50px;
    font-size: 32px;
}

#notification-icon {
    width: 50px;
    height: 50px;
    font-size: 32px;
}

#add-to-cart-icon {
    width: 50px;
    height: 50px;
    font-size: 32px;
}

.mail-badge {
    background-color: blueviolet;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: block;
    position: absolute;
    right: 0px;
    top: -24px;
}

.notification-badge {
    background-color: blueviolet;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: block;
    position: absolute;
    right: 2px;
    top: -24px;
}

.add-to-cart-badge {
    background-color: blueviolet;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: block;
    position: absolute;
    right: 0px;
    top: -24px;
}


/* badge on buttons */

.badge-buttons {
    text-align: center;
    margin-top: 20px;
    padding: 5px 5px;
}

.button-badge {
    position: relative;
    text-align: center;
    display: inline;
    padding: 5px 5px 5px 5px;
}

.primary-btn {
    color: white;
    background-color: #ff7416;
    border: none;
    padding: 15px 15px;
}

.secondary-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 15px;
}

.tweet-btn {
    background-color: royalblue;
    color: white;
    border: none;
    padding: 15px 15px;
}

.primaryBtn-badge {
    background-color: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: block;
    position: absolute;
    right: -5px;
    top: -24px;
}

.secondaryBtn-badge {
    background-color: #ff7416;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: block;
    position: absolute;
    right: -5px;
    top: -24px;
}

.tweetBtn-badge {
    background-color: saddlebrown;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: block;
    position: absolute;
    right: -5px;
    top: -23px;
}


/* media queries */

@media only screen and (max-width: 600px) {
    .code-snippet {
        display: none;
    }
}