* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#component-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#component-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

#side-heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#side-heading-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

#btn-output {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 15px;
}


/* sidebar */

.library-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.library-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    display: block;
}

.library-sidebar a:hover {
    color: #ff7416;
    font-weight: bold;
}

.library-sidebar .close-Btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}


/* hamburger menu */

.open-Btn {
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    display: inline;
}

.open-Btn:hover {
    cursor: pointer;
}


/* header nav */

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#button-heading,
#button-container {
    transition: margin-left .5s;
}


/* buttons */


/* contained buttons */

#contained-primary-button {
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
}

#contained-secondary-button {
    background-color: brown;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
}

#contained-info-button {
    background-color: crimson;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
}

#contained-warning-button {
    background-color: rgb(212, 180, 37);
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
}


/* outlined buttons */

#outlined-primary-button {
    border: 1px solid blue;
    color: blue;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

#outlined-secondary-button {
    border: 1px solid brown;
    color: brown;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

#outlined-info-button {
    border: 1px solid crimson;
    color: crimson;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

#outlined-warning-button {
    border: 1px solid #FBD428;
    color: #FBD428;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}


/* icon buttons */

#icon-button {
    all: unset;
}

#share-button,
#pause-button,
#attachment-button {
    background-color: blueviolet;
    color: white;
    padding: 1rem 1.8rem;
    border-radius: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* float-button */

#twitter-button {
    cursor: pointer;
}

#twitter-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00acee;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

#twitter-icon i,
#telegram-icon i,
#facebook-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
}

#telegram-button {
    cursor: pointer;
}

#telegram-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #229ED9;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

#facebook-button {
    cursor: pointer;
}

#facebook-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #4267B2;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

#button-code-snippet {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


/* media queries */

@media only screen and (max-width:600px) {
    #btn-output {
        margin-left: 50px;
    }
    #button-code-snippet {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    #sidebar-menu {
        width: 250px;
    }
    #button-container,
    #button-heading {
        margin-left: 250px;
    }
    #open-Btn,
    .library-sidebar .close-Btn {
        display: none;
    }
}