* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#component-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#component-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

#side-heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#side-heading-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}


/* sidebar */

.library-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.library-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    display: block;
}

.library-sidebar a:hover {
    color: #ff7416;
    font-weight: bold;
}

.library-sidebar .close-Btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}


/* hamburger menu */

.open-Btn {
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    display: inline;
}

.open-Btn:hover {
    cursor: pointer;
}


/* header nav */

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#alert-heading,
#alert-container {
    transition: margin-left .5s;
}


/* alert */

#alert-boxes {
    text-align: center;
    padding: 5px 5px;
    margin-top: 10px;
    width: 40%;
    margin: auto;
}


/* simple Alerts */

#success-alert {
    background-color: #d4edda;
    padding: 10px;
    margin-bottom: 10px;
    color: #198754;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

#danger-alert {
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 10px;
    color: #dc3545;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

#warning-alert {
    background-color: #fff3cd;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffc107;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

#info-alert {
    background-color: #d1ecf1;
    padding: 10px;
    margin-bottom: 10px;
    color: #0dcaf0;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}


/* alert with crossbar */

#crossbar-success-alert {
    display: flex;
    justify-content: space-between;
    background-color: #d4edda;
    padding: 10px;
    margin-bottom: 10px;
    color: #198754;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

#crossbar-danger-alert {
    display: flex;
    justify-content: space-between;
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 10px;
    color: #dc3545;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

#crossbar-warning-alert {
    display: flex;
    justify-content: space-between;
    background-color: #fff3cd;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffc107;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

#crossbar-info-alert {
    display: flex;
    justify-content: space-between;
    background-color: #d1ecf1;
    padding: 10px;
    margin-bottom: 10px;
    color: #0dcaf0;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}


/* alert-code-snippet */

#alert-code-snippet {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


/* media queries */

@media only screen and (max-width:600px) {
    #alert-boxes {
        width: 80%;
        padding: 0;
    }
    #alert-code-snippet {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    #sidebar-menu {
        width: 250px;
    }
    #alert-container,
    #alert-heading {
        margin-left: 250px;
    }
    #open-Btn,
    .library-sidebar .close-Btn {
        display: none;
    }
}