* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

#hero {
    display: inline;
    line-height: 45px;
    margin: 0;
    font-size: 2rem;
}


/* dismissible-sidebar */

.library-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.library-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    display: block;
}

.library-sidebar a:hover {
    color: #ff7416;
    font-weight: bold;
}

.library-sidebar .close-Btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.open-Btn {
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    display: inline;
}

.open-Btn:hover {
    cursor: pointer;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.header {
    transition: margin-left .5s;
    padding: 16px;
    border-bottom: 1px solid black;
}

.description {
    text-align: center;
}

.description p {
    font-size: 1.7rem;
    margin-top: 10px;
}

.installation-para {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}

.installation {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer {
    background-color: black;
    width: 100%;
    text-align: center;
    min-height: 100px;
    margin-top: auto;
    color: white;
}