/* alert */

.alert-boxes {
    text-align: center;
    padding: 5px 5px;
    margin-top: 10px;
    width: 40%;
    margin: auto;
}


/* simple Alerts */

.success-alert {
    background-color: #d4edda;
    padding: 10px;
    margin-bottom: 10px;
    color: #198754;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

.danger-alert {
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 10px;
    color: #dc3545;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

.warning-alert {
    background-color: #fff3cd;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffc107;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

.info-alert {
    background-color: #d1ecf1;
    padding: 10px;
    margin-bottom: 10px;
    color: #0dcaf0;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}


/* alert with crossbar */

.crossbar-success-alert {
    display: flex;
    justify-content: space-between;
    background-color: #d4edda;
    padding: 10px;
    margin-bottom: 10px;
    color: #198754;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

.crossbar-danger-alert {
    display: flex;
    justify-content: space-between;
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 10px;
    color: #dc3545;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

.crossbar-warning-alert {
    display: flex;
    justify-content: space-between;
    background-color: #fff3cd;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffc107;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}

.crossbar-info-alert {
    display: flex;
    justify-content: space-between;
    background-color: #d1ecf1;
    padding: 10px;
    margin-bottom: 10px;
    color: #0dcaf0;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 4px black;
}


/* alert-code-snippet */


/* media queries */

@media only screen and (max-width:600px) {
    .alert-boxes {
        width: 80%;
        padding: 0;
    }
    .code-snippet {
        display: none;
    }
}